#folders
node_modules
/tests
/src
/out
/docs
/cache
/coverage
/scripts
/theme
.circleci
.vscode

#files
/.gitignore
/.eslintrc.json
/package-lock.json
/jest.config.js
/tsconfig.json
/index.html
/mcalc.js
/mcalc.min.js
